@model chatbot.Models.cModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Talk</h1>
    <p>Make a question</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <textarea id="@Html.IdFor(m => m.Textarea)" name="@Html.NameFor(m => m.Textarea)" class="form-control">@Html.DisplayFor(model => model.Textarea)</textarea>
            @Html.EditorFor(m => m.Input, new { htmlAttributes = new { @class="form-control" } })
        </div>
        <input type="submit" value="Send" class="btn btn-primary" />
    }
</div>
