@model chatbot.Models.cModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Talk</h1>
    <p>Make a question</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <textarea asp-for="Textarea" rows="5" cols="40" class="form-control"></textarea>
            <input asp-for="Input" class="form-control" />
        </div>
        <input type="submit" value="Send" class="btn btn-primary" />
    }
</div>
