@model cModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Talk</h1>
    <p>Make a question</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <textarea id="history_area"></textarea>
        <input type="text" id="input_question">
        <button type="submit">Send</button>
    }
</div>
