@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h3>MIT License</h3>
    <p>
        A short and simple permissive license with conditions only requiring preservation of copyright and license
        notices. Licensed works, modifications, and larger works may be distributed under different terms and
        without source code.
    </p>
    <p>See more in <a href="https://github.com/eduardododib/teste_single_asp_core_chat_bot/blob/master/LICENSE">MIT Text</a></p>
</div>